{$PUSH_DOMAIN} {
  root * /srv

  handle /static/* {
    header Access-Control-Allow-Origin *
    header Access-Control-Allow-Methods *
    file_server
  }

  handle /streaming/* {
    reverse_proxy http://srs:8080
  }

  handle /api/externals/* {
    reverse_proxy http://push:8000
  }
}
